<footer class="footer footer--light">
    <div class="container">
        <div class="footer__widgets">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <aside class="widget widget-logo">
                        <p class="copyright" style="font-size:small">
                            نمونه کار حـامد خـراسـانـی  <br /> آشنا به : <br />
                            Asp.NetCore<br />
                            ASP.NETMVC<br />
                            Html<br />
                            Css<br />
                            Bootstrap<br />
                            Jquery<br />
                            EF&EFCore<br />
                            FluentAPI<br />
                            PhotoShop<br />
                        </p>
                    </aside>
                </div>

                <div class="col-lg-2 col-md-6">
                    <aside class="widget widget_nav_menu" id="FooterCategories">
                        <h4 class="widget-title">هشتگ های داغ</h4>
                        <ul>
                            <li><a href="about.html">#تکنولوزی</a></li>
                            <li><a href="contact.html">#موبایل</a></li>
                            <li><a href="categories.html">#کتاب</a></li>
                            <li><a href="shortcodes.html">#هنر</a></li>
                            <li><a href="shortcodes.html">#زیبایی</a></li>
                            <li><a href="shortcodes.html">#دیجیتال</a></li>
                        </ul>
                    </aside>
                </div>

                <div class="col-lg-4 col-md-6">
                    <aside class="widget widget-popular-posts" id="FooterPopularPosts">
                        
                    </aside>
                </div>
                <div class="col-lg-3 col-md-6">
                    <aside class="widget widget_mc4wp_form_widget">
                        <h4 class="widget-title">خبرنامه</h4>
                        <!-- Search -->
                        <div class="nav__right-item nav__search">
                            <form action="/search" class="nav__search-form">
                                <input type="text" name="q" placeholder="جستجو مقالات" class="nav__search-input">
                                <button type="submit" class="search-button btn btn-lg btn-color btn-button">
                                    <i class="ui-search nav__search-icon"></i>
                                </button>
                            </form>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</footer>